@model IEnumerable<DucVuSport.Models.Entities.Order>
    @{ 
        ViewBag.label = "Hóa đơn bán";
        var stt = 0;
    }
<div class="bill-index-content">
    <form class="header__search">
        <label for="search-box" class="fas fa-search"></label>
        <input type="search" id="search-box" placeholder="Nhập thông tin...">
    </form>

    <div class="bill-list">
        <table class="table table-hover table-striped">
            <tr>
                <th>
                    STT
                </th>
                <th>Mã hóa đơn</th>
                <th>Họ tên</th>
                <th>Ngày đặt</th>
                <th>Tổng cộng</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(stt += 1)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.OrderID)</td>
                    <td>@Html.DisplayFor(modelItem => item.User.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.PaymentDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Total)</td>
                    <td>@Html.DisplayFor(modelItem => item.OrderStatu.Name)</td>
                    <td>@Html.ActionLink("Xem", "Details", new { id = item.OrderID }, new { @class = "btn btn-outline-primary" })</td>
                </tr>
            }
        </table>
    </div>
</div>