@{
    var product = ViewBag.detail as DataAccessLib.Entities.Product;
    var images = ViewBag.Image as List<DataAccessLib.Entities.Image>;
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<link href="~/Content/css/product-detal.css" rel="stylesheet" />
<div class="body__product-detail">
    <div class="header__product-detail">
        <div class="left col-md-4 col-4">
            @if (product.img == null)
            {
                <div class="big__img">
                    <img src="~/Content/images/banners/no-image.jpg" alt="">
                </div>
            }
            else
            {
                <div class="big__img">
                    <img src="~/Content/images/@product.img" alt="">
                </div>
            }
            <div class="images">
                @foreach (var image in images)
                {
                    <div class="small__img">
                        <img src="~/Content/images/@image.url" alt="">
                    </div>
                }
            </div>
        </div>

        <div class="right col-md-9 col-9">
            <div class="__product__name">@product.productName</div>
            <div class="item__star">
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="price">@String.Format(format, "{0:c0}", @product.price)</div>
            <div class="col-10">@product.shotDescribe</div>
            <div class="quantity">
                <div>Số lượng:</div>
                <div class="buttons_added">
                    <input class="minus is-form" type="button" value="-">
                    <input class="input-qty" max="100" min="1" type="number" value="1">
                    <input class="plus is-form" type="button" value="+">
                </div>
            </div>
            <div id="@product.productID">
                <div class="detail-btn add-to-cart">
                    <span>Thêm vào giỏ</span>
                </div>
                <div class="detail-btn buy-now" id="">
                    <span>Mua ngay</span>
                </div>
            </div>
        </div>
    </div>
    <div class="main__product-detail">
        <ul class="product__tab nav nav-pills" role="tablist">
            <li class="nav-item">
                <button class="description__tab-btn active" data-bs-toggle="pill" data-bs-target="#decript">Mô tả</button>
            </li>
            <li class="nav-item">
                <button class="rate__tab-btn" data-bs-toggle="pill" data-bs-target="#rate">Đánh giá</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane description__tab active" id="decript">
                <div class="">
                    @product.describe
                </div>
            </div>
            <div class="tab-pane" id="rate">
                <div class="rate__tab-content">
                    <div class="rate__left col-md-8 col-8">
                        <!-- comment item -->
                        <div class="rate__content-item">
                            <div class="rate__top">
                                <div class="custommer">
                                    <div class="avatar">
                                        <img class="avatar" src="images/banners/user-image.jpeg" alt="">
                                    </div>
                                    <div class="custommer__detail">
                                        <div class="custommer__name">Vũ Mạnh Đức</div>
                                        <div class="item__star">
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="cmt__date">20/03/2022 18:05</div>
                            </div>
                            <div class="rate__cmd">
                                Sản phẩm tuyệt vời. giao hàng nhanh, tư vấn nhiệt tình
                                Sản phẩm tuyệt vời. giao hàng nhanh, tư vấn nhiệt tình
                                Sản phẩm tuyệt vời. giao hàng nhanh, tư vấn nhiệt tình
                                Sản phẩm tuyệt vời. giao hàng nhanh, tư vấn nhiệt tình
                                Sản phẩm tuyệt vời. giao hàng nhanh, tư vấn nhiệt tình
                            </div>
                        </div>
                        <hr style="width: 100%">
                    </div>
                    <div class="rate__right col-md-4 col-4">
                        <div class="rate__detail">

                            <div class="star-number__rate d-flex align-items-center">
                                5 <i class="fa fa-star"></i>
                                <div class="progress mx-2">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div> 0%
                            </div>
                            <div class="star-number__rate d-flex align-items-center">
                                4 <i class="fa fa-star"></i>
                                <div class="progress mx-2">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div> 0%
                            </div>
                            <div class="star-number__rate d-flex align-items-center">
                                3 <i class="fa fa-star"></i>
                                <div class="progress mx-2">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div> 0%
                            </div>
                            <div class="star-number__rate d-flex align-items-center">
                                2 <i class="fa fa-star"></i>
                                <div class="progress mx-2">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div> 0%
                            </div>
                            <div class="star-number__rate d-flex align-items-center">
                                1 <i class="fa fa-star"></i>
                                <div class="progress mx-2">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div> 0%
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="rate__title">Đánh giá trung bình</p>
                            <div class="rate__point">4.5/5</div>
                            <div class="item__star">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="sonhanxet text-muted">(0 nhận xét)</p>
                            <div class="btn">
                                <button>Viết đánh giá</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.add-to-cart').click(function () {
        var model = {};
        model.id = $(this).parent().attr('id');
        model.quantity = $('.input-qty').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddToCart", "Cart")',
            data: JSON.stringify(model),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload();
                alert("Thêm thành công!")
            },
            error: function () {
                alert("Thêm thất bại!");
            }
        });
    })
</script>