@model DucVuSport.Models.RegisterModel
@using (Ajax.BeginForm("Register", "User", new AjaxOptions { HttpMethod = "POST", OnSuccess = "registerDone" }, new { @class = "account__form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form__message">Đăng ký</div>

    @*Họ và tên*@
    <div class="form-group">
        @Html.ValidationMessageFor(model => model.fullName, "", new { @class = "text-danger" })
        <div class="form__input">
            @Html.TextBoxFor(m => m.fullName, new { @placeholder = "Họ và tên" })
            <div class="form__icon"><span class="fas fa-envelope"></span></div>
        </div>
    </div>

    @*Số điện thoại*@
    <div class="form-group">
        @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })
        <div class="form__input">
            @Html.TextBoxFor(m => m.phoneNumber, new { @placeholder = "Số điện thoại" })
            <div class="form__icon"><span class="fas fa-phone"></span></div>
        </div>
    </div>

    @*Email*@
    <div class="form-group">
        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        <div class="form__input">
            @Html.TextBoxFor(m => m.email, new { @placeholder = "Email" })
            <div class="form__icon"><span class="fas fa-envelope"></span></div>
        </div>
    </div>

    @*province*@
    <div class="form-group">
        @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })
        <div class="form__input">
            @Html.TextBoxFor(m => m.Province, new { @placeholder = "Tỉnh/Thành phố" })
            <div class="form__icon"><span class="fas fa-map-marker-alt"></span></div>
        </div>
    </div>

    @*distric*@
    <div class="form-group">
        @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
        <div class="form__input">
            @Html.TextBoxFor(m => m.District, new { @placeholder = "Quận/Huyện" })
            <div class="form__icon"><span class="fas fa-map-marker-alt"></span></div>
        </div>
    </div>

    @*ward*@
    <div class="form-group">
        @Html.ValidationMessageFor(model => model.Ward, "", new { @class = "text-danger" })
        <div class="form__input">
            @Html.TextBoxFor(m => m.Ward, new { @placeholder = "Phường/Xã" })
            <div class="form__icon"><span class="fas fa-map-marker-alt"></span></div>
        </div>
    </div>

    @*adress*@
    <div class="form-group">
        @Html.ValidationMessageFor(model => model.AddressDetail, "", new { @class = "text-danger" })
        <div class="form__input">
            @Html.TextBoxFor(m => m.AddressDetail, new { @placeholder = "Số nhà/Đường" })
            <div class="form__icon"><span class="fas fa-map-marker-alt"></span></div>
        </div>
    </div>

    @*Mật khẩu*@
    <div class="form-group">
        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        <div class="form__input pwd-input">
            @Html.PasswordFor(m => m.password, new { @class = "pw", @placeholder = "Mật khẩu" })
            <div class="form__icon"><span class="fa fa-eye-slash"></span></div>
        </div>
    </div>

    @*Nhập lại mật khẩu*@
    <div class="form-group">
        @Html.ValidationMessageFor(model => model.repassword, "", new { @class = "text-danger" })
        <div class="form__input pwd-input">
            @Html.PasswordFor(m => m.repassword, new { @class = "pw", @placeholder = "Xác nhận mật khẩu" })
            <div class="form__icon"><span class="fa fa-eye-slash"></span></div>
        </div>
    </div>

    <div class="form__check">
        <div class="form__checkbox">
            <input type="checkbox" id="accept-me" checked="checked">
            <label for="accept-me">Đồng ý với các điều khoản</label>
        </div>
    </div>

    <div class="btn">
        <button>Đăng kí</button>
    </div>
}

<script type="text/javascript">
    function registerDone(response) {
        if (response == true) {
            alert("Đăng ký thành công!");
            window.location.reload();
        } else {
            alert("Đăng ký thất bại!");
        }
    }
</script>