@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "account__form" }))
{
    @model DucVuSport.Models.RegisterModel
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, null, new { @class = "form__message" })
    <div class="form__input">
        @Html.TextBoxFor(m => m.fullname, new { @placeholder = "Họ và tên" })
        <div class="form__icon"><i class="fas fa-user-circle"></i></div>
    </div>

    <div class="form__input">
        @Html.TextBoxFor(m => m.email, new { @placeholder = "email" })
        <div class="form__icon"><i class="fas fa-envelope"></i></div>
    </div>

    <div class="form__input">
        @Html.TextBoxFor(m => m.phonenumber, new { @placeholder = "Số điện thoại" })
        <div class="form__icon"><i class="fas fa-phone"></i></div>
    </div>

    <div class="form__input pwd-input">
        @Html.PasswordFor(m => m.pwd, new { @class = "pw", @placeholder = "Mật khẩu" })
        <div class="form__icon"><i class="fa fa-eye-slash"></i></div>
    </div>

    <div class="form__input pwd-input">
        @Html.PasswordFor(m => m.repwd, new { @class = "pw", @placeholder = "Xác nhận mật khẩu" })
        <div class="form__icon"><i class="fa fa-eye-slash"></i></div>
    </div>

    <div class="form__check">
        <div class="form__checkbox">
            <input type="checkbox" id="accept-me" checked="checked">
            <label for="accept-me">Đồng ý với các điều khoản</label>
        </div>
    </div>

    <div class="btn">
        <button>Đăng kí</button>
    </div>
}