@model DucVuSport.Models.ChangePasswordModel
@using (Ajax.BeginForm("ChangePassword", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "changeSuccess" }, new { @class = "account__form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, null, new { @class = "form__message" })
    <div class="form__message">Đổi mật khẩu</div>
    <div class="form__input pwd-input">
        @Html.PasswordFor(m => m.oldPassword, new { @placeholder = "Mật khẩu cũ", @class = "pw" })
        <div class="form__icon"><i class="fa fa-eye-slash"></i></div>
    </div>
    <div class="form__input pwd-input">
        @Html.PasswordFor(m => m.newPassword, new { @placeholder = "Mật khẩu mới", @class = "pw" })
        <div class="form__icon"><i class="fa fa-eye-slash"></i></div>
    </div>
    <div class="form__input pwd-input">
        @Html.PasswordFor(m => m.confirm, new { @placeholder = "Xác nhận mật khẩu", @class = "pw" })
        <div class="form__icon"><i class="fa fa-eye-slash"></i></div>
    </div>
    <div class="btn">
        <button type="submit">Đăng nhập</button>
    </div>
}

<script type="text/javascript">
    function changeSuccess(response) {
        if (response == true) {
            alert("Đổi mật khẩu thành công!");
            location.reload();
        } else {
            alert("Không thể đổi mật khẩu!");
        }
    }
</script>