@model DucVuSport.Models.ChangePasswordModel
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "account__form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, null, new { @class = "form__message" })
    <div class="form__input pwd-input">
        @Html.PasswordFor(m => m.oldPassword, new { @placeholder = "Mật khẩu cũ", @class = "pw", @id = "pass" })
        <div class="form__icon"><i class="fa fa-eye-slash"></i></div>
    </div>
    <div class="form__input pwd-input">
        @Html.PasswordFor(m => m.newPassword, new { @placeholder = "Mật khẩu mới", @class = "pw", @id = "pass" })
        <div class="form__icon"><i class="fa fa-eye-slash"></i></div>
    </div>
    <div class="form__input pwd-input">
        @Html.PasswordFor(m => m.confirm, new { @placeholder = "Xác nhận mật khẩu", @class = "pw", @id = "pass" })
        <div class="form__icon"><i class="fa fa-eye-slash"></i></div>
    </div>
    <div class="btn">
        <button type="submit">Đăng nhập</button>
    </div>
}