@using (Ajax.BeginForm("Register", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "registerDone" }, new { @class = "account__form" }))
{
    @model DucVuSport.Models.RegisterModel
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, null, new { @class = "form__message" })
    <div class="form__message">Đăng ký</div>
    <div class="form__input">
        @Html.TextBoxFor(m => m.username, new { @placeholder = "Tên người dùng" })
        <div class="form__icon"><i class="fas fa-envelope"></i></div>
    </div>

    <div class="form__input pwd-input">
        @Html.PasswordFor(m => m.password, new { @class = "pw", @placeholder = "Mật khẩu" })
        <div class="form__icon"><i class="fa fa-eye-slash"></i></div>
    </div>

    <div class="form__input pwd-input">
        @Html.PasswordFor(m => m.repassword, new { @class = "pw", @placeholder = "Xác nhận mật khẩu" })
        <div class="form__icon"><i class="fa fa-eye-slash"></i></div>
    </div>

    <div class="form__check">
        <div class="form__checkbox">
            <input type="checkbox" id="accept-me" checked="checked">
            <label for="accept-me">Đồng ý với các điều khoản</label>
        </div>
    </div>

    <div class="btn">
        <button>Đăng kí</button>
    </div>
}

<script type="text/javascript">
    function registerDone(response) {
        if (response == true) {
            displayMessage("Đăng ký thành công !!!", 'success');
            $('.modal-header__btn').trigger('click');
            $('.header__account').removeClass('active');
        } else {
            displayMessage("Đăng kí thất bại !!!", 'error');
        }
    }
</script>