@model IEnumerable<DucVuSport.Models.Entities.Product>
@foreach (var item in Model)
{
    <div class="product__item">
        <a class="product__content align-items-center" href="/Product/Detail/@item.ProductID">
            @{
                var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                var price = item.Price - item.Price * item.Discount;
                var discount = item.Discount * 100;
            }
            <div class="product__discount">-@discount%</div>
            @if (@item.Image == null)
            {
                <img class="product__img" src="~/Content/images/banners/no-image.jpg">
            }
            else
            {
                <img class="product__img" src="~/Content/images/@item.Image">
            }
            <h5 class="product__name">@item.ProductName</h5>
            <div class="product__price">
                <div class="new__price">@String.Format(format, "{0:c0}", price)</div>
                <div class="old__price text-decoration-line-through">@String.Format(format, "{0:c0}", item.Price)</div>
            </div>
            <div class="item__star">
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star"></i>
            </div>
        </a>
        <div class="add-cart__btn add-to-cart" id="@item.ProductID">
            <span>Thêm vào giỏ</span>
        </div>
    </div>
}

<script>
    $('.add-to-cart').each(function () {
        $(this).click(function () {
            var model = {};
            model.id = $(this).attr('id');
            model.quantity = 1;

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                data: JSON.stringify(model),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    location.reload();
                    alert("Thêm thành công!")
                }
            });
        });
    })
</script>