<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset=utf-8 />
    <title>Trang chủ</title>

    @Styles.Render("~/bundles/mycss")
    @Scripts.Render("~/bundles/jquery")

    <link href="~/Content/css/main.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>

    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>
</head>


<body>
    <header class="header">
        @Html.Partial("Header")
    </header> <!-- header -->


    @Html.Action("ShowModal", "User") <!-- Modal -->
    <div class="body">
        <div class="body-container" id="body">
            @RenderBody()
        </div>
    </div> <!-- Home conten-->

    @Html.Partial("Footer")    <!-- Footer -->
    @Scripts.Render("~/bundles/myscript")

    <script>
        $('.add-to-cart').each(function () {
            $(this).click(function () {
                var model = {};
                model.id = $(this).attr('id');
                model.quantity = 1;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddToCart", "Cart")',
                    data: JSON.stringify(model),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        if (response.status == true) {
                            $('.header__cart--notice').text(response.count);
                            toastr.success(response.message, 'Thông báo');
                        }
                        else {
                            toastr.success(response.message, 'Thông báo');
                        }
                    }
                });
            });
        })
    </script>
</body>
</html>
