@{
    var cart = Session["Cart"] as List<DucVuSport.Models.CartModel>;
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var user = Session["user"] as DataAccessLib.Entities.Account;
    var total = 0;
}
<div class="_top">
    @if (user != null)
    {
        <script>
            $('._top').css({ "display": "block" });
        </script>
        <span>Xin chào @(user.FullName!=null?user.FullName:user.Email)</span>
    }
</div>
<div class="_header">
    <a href="#home" class="header__logo"> <i class="fas fa-shopping-basket"></i> DucVuStore </a>
    <nav class="header__menu">
        <a href="/" class="header__menu-item">Trang chủ</a>
        <a href="/Product" class="header__menu-item">Sản phẩm</a>
        <a href="#" class="header__menu-item">Tin tức</a>
        <a href="#" class="header__menu-item">Giới thiệu</a>
    </nav>

    <div class="header__icons">
        <div id="search-btn"><i class="fas fa-search"></i></div>
        <div id="cart-btn">
            <i class="fas fa-shopping-cart"></i>
            <span class="header__cart--notice">@Session["Count"]</span>

        </div>
        <div id="account-btn" data-toggle="modal" data-target="#accountForm"><i class="fas fa-user"></i></div>
        <div id="menu-btn"><i class="fas fa-bars"></i></div>
    </div>

    <form action="" class="header__search">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </form>
    <!--Header cart start-->
    <div class="header__cart">
        @if (Convert.ToInt32(Session["Count"]) == 0)
        {
            @*No item*@
            <div class="header__no-cart">
                <img src="~/Content/images/banners/no-cart.png" alt="">
                <span>Bạn chưa có sản phẩm nào</span>
                <a href="/Product">Mua sắm ngay</a>
            </div>
            <script>
                $('.header__cart--notice').css({ 'display': 'none' });
            </script>
        }
        else
        {
            @*Has item*@
            <div class="header__has-cart">
                <div class="header__has-cart--style">Sản phẩm bạn đã chọn</div>
                <ul class="box header__cart-list">
                    @foreach (var item in cart)
                    {
                        <!-- Item -->
                        <li class="header__cart-list-item">
                            @if (item.product.Image == null)
                            {
                                <img src="~/Content/images/banners/no-image.jpg" alt="" class="header__cart-list-item-img">
                            }
                            else
                            {
                                <img src="~/Content/images/@item.product.Image" alt="" class="header__cart-list-item-img">
                            }
                            <div class="header__cart-list-item-info">
                                <div class="header__cart-list-item-head">
                                    <h5 class="header__cart-list-item-name">@item.product.ProductName</h5>
                                </div>
                                @{
                                    var price = item.product.Price - item.product.Price * item.product.Discount;
                                    total += Convert.ToInt32(price * item.quantity);
                                }
                                <div class="header__cart-list-item-body">
                                    <div class="header__cart-list-item-rice-wrap">
                                        <span class="header__cart-list-item-price">@String.Format(format, "{0:c0}", price)</span>
                                        <span class="header__cart-list-item-mul">x</span>
                                        <span class="header__cart-list-item-quantity">@item.quantity</span>
                                    </div>
                                    <span class="header__cart-list-item-trash __delete" id="@item.product.ProductID">Xoá</span>
                                </div>
                            </div>
                        </li>
                        <li><hr width="90%" style="margin: 0 auto;" /></li>
                    }
                </ul>

                <script>
                $('.header__cart-list-item-trash').click(function () {
                    var model = {};
                    model.id = $(this).attr('id');
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Remove", "Cart")',
                        data: JSON.stringify(model),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function () {
                            location.reload();
                            alert("Xóa thành công");
                        }
                    });
                })
                $('.header__cart--notice').css({ 'display': 'block' });
                </script>

                <div class="header__cart-total">
                    <div class="total"> Tổng cộng: <span>@String.Format(format, "{0:c0}", total)</span> </div>
                    <a href="/Cart/Index" class="header__cart-check-btn">Kiểm tra giỏ hàng</a>
                </div>
            </div>
        }
    </div>
    <!--Header cart end-->
    <div class="col-5 col-md-3 header__account">
        @if (Session["user"] != null)
        {
            <a class="header__account-item">Tài khoản</a>
            <a class="header__account-item">Đổi mật khẩu</a>
            <a class="header__account-item" href="/Account/LogOut">Đăng xuất</a>
        }
        else
        {
            <a class="header__account-item" id="login_btn"
               data-bs-toggle="modal" data-bs-target="#account-modal">
                Đăng nhập
            </a>

            <a class="header__account-item" id="register_btn"
               data-bs-toggle="modal" data-bs-target="#account-modal">
                Đăng ký
            </a>
        }
    </div>
</div>
