@model DucVuSport.Models.ChangePasswordModel

@{
    ViewBag.label = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
}

<div class="order-content col-md-8 col-12">
    @using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions { HttpMethod = "POST", OnSuccess = "fnSuccess" }))
    {
        <div class="message">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label for="FormControlInput" class="form-label">Mật khẩu cũ (<span style="color:red;">*</span>):</label>
            @Html.PasswordFor(model => model.oldPassword, new { @class = "form-control", id = "FormControlInput" })
            @Html.ValidationMessageFor(model => model.oldPassword, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3">
            <label for="FormControlInput" class="form-label">Mật khẩu mới (<span style="color:red;">*</span>):</label>
            @Html.PasswordFor(model => model.newPassword, new { @class = "form-control", id = "FormControlInput" })
            @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3">
            <label for="FormControlInput" class="form-label">Nhập lại mật khẩu (<span style="color:red;">*</span>):</label>
            @Html.PasswordFor(model => model.confirm, new { @class = "form-control", id = "FormControlInput" })
            @Html.ValidationMessageFor(model => model.confirm, "", new { @class = "text-danger" })
        </div>
        <div>
            <a href="/Admin/HomeAdmin/Index" class="btn btn-primary">Quay lại</a>
            <button class="btn btn-success" type="submit">Thay đổi</button>
        </div>
    }
</div>

<script>
    function getResponse(response) {
        if (response.status == true) {
            $('.message').addClass('alert').addClass('alert-success')
            $('.message').text(response.message);
        } else {
            $('.message').addClass('alert').addClass('alert-danger')
            $('.message').text(response.message);
        }
    }
    function fnSuccess(response) {
        getResponse(response)
    }
</script>