@model IEnumerable<DucVuSport.Models.Entities.User>
@{
    ViewBag.Label = "Danh sách tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
    var stt = 0;
}
<div class="bill-index-content">
    <div class="d-flex justify-content-between">
        <form class="header__search">
            <label for="search-box" class="fas fa-search"></label>
            <input type="search" id="search-box" placeholder="Nhập thông tin...">
        </form>

        <p class="add-new">
            @Html.ActionLink("Tạo mới", "Create")
        </p>
    </div>
    <table class="table table-hover table-striped">
        <tr>
            <th>STT</th>
            <th>Họ và tên</th>
            <th>SĐT</th>
            <th>Email</th>
            <th>Hoạt động</th>
            <th>Quyền</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@(stt+=1)</td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.LastActivity)</td>
                <td>@Html.DisplayFor(modelItem => item.Role.RoleName)</td>
                <td>
                    @if (item.Unlock == true)
                    {
                        <div class="payment-status payment-paid">
                            <div class="dot"></div>
                            <span>Đang hoạt động</span>
                        </div>
                    }
                    else
                    {
                        <div class="payment-status payment-pending">
                            <div class="dot"></div>
                            <span>Khóa</span>
                        </div>
                    }
                </td>
                <td>
                    @Html.ActionLink("Xem", "Detail", new { id = item.UserID }, new { @class = "btn btn-outline-info" })
                </td>
            </tr>
        }
    </table>
</div>