@model IEnumerable<DucVuSport.Models.Entities.Order>
@{
    ViewBag.label = "Trang chủ";
    var topProduct = ViewBag.top10 as IEnumerable<DucVuSport.Models.Entities.Product>;
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<div class="main-content">
    <div class="row">
        <div class="col-3 col-md-6 col-sm-12">
            <div class="box box-hover">
                <!-- COUNTER -->
                <div class="counter">
                    <div class="counter-title">
                        Tổng đơn đặt hàng
                    </div>
                    <div class="counter-info">
                        <div class="counter-count">
                            @ViewBag.totalOrder
                        </div>
                        <i class='bx bx-shopping-bag'></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 col-md-6 col-sm-12">
            <div class="box box-hover">
                <div class="counter">
                    <div class="counter-title">
                        conversion rate
                    </div>
                    <div class="counter-info">
                        <div class="counter-count">
                            30.5%
                        </div>
                        <i class='bx bx-chat'></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 col-md-6 col-sm-12">
            <div class="box box-hover">
                <div class="counter">
                    <div class="counter-title">
                        Tổng doanh thu
                    </div>
                    <div class="counter-info">
                        <div class="counter-count">
                            @String.Format(format, "{0:c0}", ViewBag.turnover)
                        </div>
                        <i class='bx bx-line-chart'></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 col-md-6 col-sm-12">
            <div class="box box-hover">
                <div class="counter">
                    <div class="counter-title">
                        Tổng lượt xem
                    </div>
                    <div class="counter-info">
                        <div class="counter-count">
                            @ViewBag.viewTotal
                        </div>
                        <i class='bx bx-user'></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3 col-md-6 col-sm-12">
            <div class="box f-height">
                <div class="box-header">
                    Sản phẩm bán chạy
                </div>
                <div class="box-body-product">
                    <ul class="product-list">
                        @foreach (var item in topProduct)
                        {
                            <li class="product-list-item">
                                <div class="item-info">
                                    @if (item.Image == null)
                                    {
                                        <img src="~/Images/Banners/no-image.jpg" alt="product image">
                                    }
                                    else
                                    {
                                        <img src="~/Images/Products/@item.Image" alt="product image">
                                    }
                                    <div class="item-name">
                                        <div class="text-second">Cloths</div>
                                        <div class="product-name">@item.ProductName</div>
                                    </div>
                                </div>
                                <div class="item-sale-info">
                                    <div class="text-second">Sales</div>
                                    <div class="product-sales">@item.Price</div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4 col-md-6 col-sm-12">
            <div class="box f-height">
                <div class="box-body">
                    <div id="category-chart"></div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="box">
                <div class="box-header">
                    Đơn đặt hàng
                </div>
                <div class="box-body">
                    <div class="table">
                        <div class="row">
                            <div class="col-md-1 col-1">ID</div>
                            <div class="col-md-2 col-2">Họ và tên</div>
                            <div class="col-md-2 col-2">Phương thức</div>
                            <div class="col-md-3 col-3">Ngày đặt</div>
                            <div class="col-md-2 col-2">Tổng cộng</div>
                            <div class="col-md-2 col-2">Trạng thái đơn hàng</div>
                        </div>
                        <div class="order-table">

                            @foreach (var item in Model)
                            {
                                <a class="order-detail row" href="/Admin/HomeAdmin/OrderDetail/@item.OrderID">
                                    <div class="col-md-1 col-1">
                                        <div class="order-owner">
                                            @Html.DisplayFor(modelItem => item.OrderID)
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-2">
                                        <div class="order-owner">
                                            @Html.DisplayFor(modelItem => item.User.FullName)
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-2">
                                        <div class="order-owner">
                                            @Html.DisplayFor(modelItem => item.Payment.PaymentMethod)
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-3">
                                        <div class="order-owner">
                                            @Html.DisplayFor(modelItem => item.OrderDate)
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-2">
                                        <div class="order-owner">
                                            @String.Format(format, "{0:c0}", @Html.DisplayFor(modelItem => item.Total))
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-2">
                                        <div class="order-owner">
                                            @Html.DisplayFor(modelItem => item.OrderStatu.Name)
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>