@model DucVuSport.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</head>
<body>
    <section class="vh-100" style="background-color: #9A616D;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="~/Images/Banners/banner-img.png"
                                     alt="login form" class="img-fluid" style="width: 100%; border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    @using (Html.BeginForm("Login", "HomeAdmin", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-floating mb-4">
                                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                            @Html.TextBoxFor(model => model.email, new { @class = "form-control", id = "input-email", placeholder = "name@example.com" })
                                            <label for="input-email">Email</label>
                                        </div>

                                        <div class="form-floating mb-4">
                                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                            @Html.PasswordFor(model => model.password, new { @class = "form-control", id = "input-email", placeholder = "name@example.com" })
                                            <label for="input-email">Mật khẩu</label>
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="submit">Đăng nhập</button>
                                        </div>

                                        <a class="small text-muted" href="#!">Forgot password?</a> <br />
                                        <a href="#!" class="small text-muted">Terms of use.</a>
                                        <a href="#!" class="small text-muted">Privacy policy</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
