@model DucVuSport.Models.Entities.Blog
@{
    var categories = ViewBag.category as List<DucVuSport.Models.Entities.BlogCategory>;
}
<style>
    .container {
        background-color: white;
        padding: 2rem;
    }
</style>
<section class="post-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="single-page-post">
                    <div class="top-wrapper ">
                        <div class="row d-flex justify-content-between">
                            <h2 class="col-lg-9 col-md-12 text-uppercase">
                                @Model.Title
                            </h2>
                            <div class="col-lg-3 col-md-12 right-side d-flex justify-content-end">
                                <div class="desc">
                                    <h2>@Model.User.FullName</h2>
                                    <h3>@Model.CreateDate</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-post-content">
                        @Model.Content
                    </div>
                    <div class="bottom-wrapper">
                        <div class="row">
                            <div class="col-lg-4 single-b-wrap col-md-12">
                                <i class="far fa-heart" aria-hidden="true"></i>
                                60 likes
                            </div>
                            <div class="col-lg-4 single-b-wrap col-md-12">
                                <i class="far fa-comment" aria-hidden="true"></i> 06 comments
                            </div>
                            <div class="col-lg-4 single-b-wrap col-md-12">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar-area ">
                <div class="single_widget search_widget">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Tìm kiếm">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="fas fa-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="single_widget cat_widget">
                    <h4 class="text-uppercase pb-20">Danh mục</h4>
                    <ul>
                        @foreach (var item in categories)
                        {
                            <li>
                                <a href="#">@item.CatName<span>0</span></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('.single-post-content').html($('.single-post-content').text());
</script>
