@model DucVuSport.Models.Entities.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
}
<style>
    .img {
        width: 5rem;
        height: 5rem;
    }

        .img img {
            width: inherit;
        }

    .content {
        padding: 3rem;
    }

    table tr td {
        height: 3rem;
    }

    ._label {
        font-weight: bold;
    }

    .form-actions {
        padding-top: 2rem;
    }

        .form-actions a {
            margin-right: 1rem;
            text-decoration: none;
            padding: 1rem;
            cursor: pointer;
        }
</style>
<div class="content">
    <h3>Bạn có muốn xóa sản phẩm này?</h3>
    <hr />
    <div style="text-align: center; width: 100%">
        <div class="img">
            @if (@Model.Image != null)
            {
                <img src="~/Content/images/@Model.Image" />
            }
            else
            {
                <img src="~/Content/images/banners/no-image.jpg" />
            }
        </div>
    </div>
    <table>
        <tr>
            <td class="col-md-2 _label">Tên sản phẩm</td>
            <td class="col-md-10">
                @Html.DisplayFor(model => model.ProductName)
            </td>
        </tr>
        <tr>
            <td class="col-md-2 _label">Mô tả ngắn</td>
            <td class="col-md-10">
                @Html.DisplayFor(model => model.ShortDescription)
            </td>
        </tr>
        <tr>
            <td class="col-md-2 _label">Giá</td>
            <td class="col-md-10">
                @Html.DisplayFor(model => model.Price)
            </td>
        </tr>
        <tr>
            <td class="col-md-2 _label">Ngày tạo</td>
            <td class="col-md-10">
                @Html.DisplayFor(model => model.CreateDate)
            </td>
        </tr>
        <tr>
            <td class="col-md-2 _label">Đã bán</td>
            <td class="col-md-10">
                @Html.DisplayFor(model => model.Sold)
            </td>
        </tr>
        <tr>
            <td class="col-md-2 _label">Số lượt xem</td>
            <td class="col-md-10">
                @Html.DisplayFor(model => model.ViewCount)
            </td>
        </tr>
    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <a href="/Admin/ProductAdmin/Index" class="text-decoration-none btn btn-primary">Quay lại</a>
            <input type="submit" value="Xóa" class="btn btn-danger" />
        </div>
    }

</div>